<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGlobalService" />
                <binding name="BasicHttpBinding_IGlobalService1" />
                <binding name="BasicHttpBinding_IGlobalService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sharepointlipan:567/_vti_bin/KMS_Copy.Service/Global.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGlobalService"
                contract="HelloService.IGlobalService" name="BasicHttpBinding_IGlobalService" />
        </client>
    </system.serviceModel>
</configuration>